<template>
	<div class="home">
		<Grid />
		<router-view></router-view>
	</div>
</template>

<script>
import Grid from '@/components/Grid.vue';

export default {
	name: 'home',
	components: {
		Grid
	},
	created() {
		this.$store.dispatch('getRecipes');
	}
};
</script>
