<template>
	<div class="recipe">
		<Detail :data="recipe" />
	</div>
</template>

<script>
import Detail from '@/components/Detail.vue';
import { mapGetters } from 'vuex';

export default {
	name: 'home',
	components: {
		Detail
	},
	created() {
		const id = this.$route.params.id;
		this.$store.dispatch('getRecipe', id);
	},
	computed: {
		...mapGetters(['recipe'])
	}
};
</script>
