<template>
	<md-card :md-with-hover="true">
		<md-card-media-cover md-solid>
			<md-card-media md-ratio="1:1">
				<img
					:src="recipeData.image || require('@/assets/placeholder.jpg')"
					:alt="recipeData.name"
				/>
			</md-card-media>

			<md-card-area>
				<md-card-header>
					<span class="md-title">{{ recipeData.name }}</span>
					<span class="md-subhead">{{ formatDate }}</span>
				</md-card-header>

				<md-card-actions>
					<md-button class="md-icon-button" @click.prevent="editRecipe()">
						<md-icon>edit</md-icon>
					</md-button>

					<md-button class="md-icon-button" @click.prevent="deleteRecipe()">
						<md-icon>delete</md-icon>
					</md-button>
				</md-card-actions>
			</md-card-area>
		</md-card-media-cover>
	</md-card>
</template>

<script>
export default {
	name: 'Card',
	props: {
		recipeData: {
			type: Object,
			required: true
		}
	},
	computed: {
		formatDate() {
			try {
				let current_datetime = new Date(this.recipeData.creationDate);
				let formatted_date =
					current_datetime.getDate() +
					'-' +
					(current_datetime.getMonth() + 1) +
					'-' +
					current_datetime.getFullYear() +
					' ' +
					current_datetime.getHours() +
					':' +
					current_datetime.getMinutes();
				return formatted_date;
			} catch (e) {
				return '';
			}
		}
	},
	methods: {
		editRecipe() {
			this.$emit('onEdit', this.recipeData._id);
		},
		deleteRecipe() {
			this.$emit('onDelete', this.recipeData._id);
		}
	}
};
</script>

<style lang="scss" scoped>
.md-card {
	margin: 16px;
}
</style>
