<template>
	<md-dialog
		:md-active.sync="showDialog"
		:md-close-on-esc="false"
		:md-click-outside-to-close="false"
	>
		<md-dialog-title>Create new recipe</md-dialog-title>
		<FormRecipe @onClose="closeDialog" />
	</md-dialog>
</template>

<script>
import FormRecipe from '@/components/FormRecipe.vue';

export default {
	name: 'Create',
	components: {
		FormRecipe
	},
	data: () => ({
		showDialog: true
	}),
	methods: {
		closeDialog() {
			this.$router.replace({ path: '/' });
		}
	}
};
</script>

<style lang="scss" scoped>
.md-dialog {
	max-width: 600px;
	width: 100%;
	max-height: 95%;
	.md-dialog-title {
		margin-bottom: 0;
	}
}
</style>
