<template>
	<md-dialog-confirm
		:md-active.sync="active"
		md-title="Delete recipe"
		md-content="Are you sure?"
		md-confirm-text="Yes"
		md-cancel-text="Cancel"
		@md-cancel="onCancel"
		@md-confirm="onConfirm"
	/>
</template>

<script>
import { mapActions } from 'vuex';
import store from '../store';

export default {
	name: 'DeleteDialog',
	data() {
		return {
			active: true
		};
	},
	props: {
		id: {
			type: String
		},
		store: {
			type: Object
		}
	},
	computed: {
		...mapActions(['deleteRecipe'])
	},
	methods: {
		onCancel() {
			this.active = false;
			this.$destroy();
		},
		onConfirm() {
			this.store.dispatch('deleteRecipe', this.id);
			this.active = false;
			this.$destroy();
		}
	}
};
</script>
