<template>
	<div class="detail-container">
		<md-card>
			<div class="md-layout">
				<div
					class="md-layout-item image-wrapper md-medium-size-48 md-xsmall-size-100"
				>
					<md-card-media md-ratio="1:1">
						<img
							:src="data.image || require('@/assets/placeholder.jpg')"
							:alt="data.name"
						/>
					</md-card-media>
				</div>
				<div
					class="md-layout-item info-wrapper md-medium-size-48 md-xsmall-size-100"
				>
					<h1>{{ data.name }}</h1>
					<p>
						<md-icon>calendar_today</md-icon><span> {{ formatDate }}</span>
					</p>
					<span>
						<span>
							<md-icon>people</md-icon><span> {{ data.people }}</span>
						</span>
						<span v-if="data.vegetarian" class="vegetarian-wrapper">
							<md-icon>eco</md-icon>
							<span>Vegetarian</span>
						</span>
						<span v-if="!data.vegetarian" class="vegetarian-wrapper">
							<md-icon>not_interested</md-icon>
							<span>Non Vegetarian</span>
						</span>
					</span>
					<div class="ingredients">
						<h3>Ingredients</h3>
						<md-chip
							class="md-primary"
							v-for="ingredient in data.ingredients"
							:key="ingredient"
							>{{ ingredient }}</md-chip
						>
					</div>
				</div>
			</div>
			<div class="md-layout instructions-wrapper">
				<div class="md-layout-item image-wrapper md-size-100">
					{{ data.instructions }}
				</div>
			</div>
		</md-card>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: 'Edit',
	props: {
		data: {
			type: Object
		}
	},
	computed: {
		formatDate() {
			try {
				let current_datetime = new Date(this.data.creationDate);
				let formatted_date =
					current_datetime.getDate() +
					'-' +
					(current_datetime.getMonth() + 1) +
					'-' +
					current_datetime.getFullYear() +
					' ' +
					current_datetime.getHours() +
					':' +
					current_datetime.getMinutes();
				return formatted_date;
			} catch (e) {
				return '';
			}
		}
	},
	methods: {}
};
</script>

<style lang="scss" scoped>
.md-card {
	margin: 32px auto;
	max-width: 740px;
	width: 100%;
	min-height: 400px;
	.image-wrapper {
		margin: 16px;
	}
	.info-wrapper {
		margin: 16px;
	}
	@media screen and (max-width: 600px) {
		margin: 0;
		.image-wrapper {
			margin: 0;
		}
		.info-wrapper {
			padding: 16px;
		}
	}
	.vegetarian-wrapper {
		margin-left: 16px;
	}
	h1 {
		line-height: 26px;
	}
	.md-chip {
		margin: 2px;
	}
	.instructions-wrapper {
		padding: 16px;
	}
}
</style>
