<template>
	<md-dialog
		:md-active.sync="showDialog"
		:md-close-on-esc="false"
		:md-click-outside-to-close="false"
	>
		<md-dialog-title>Edit recipe</md-dialog-title>
		<FormRecipe @onClose="closeDialog" :form="recipe" :edit="true" />
	</md-dialog>
</template>

<script>
import FormRecipe from '@/components/FormRecipe.vue';
import { mapGetters } from 'vuex';

export default {
	name: 'Edit',
	components: {
		FormRecipe
	},
	data: () => ({
		showDialog: true
	}),
	computed: {
		...mapGetters(['recipe'])
	},
	methods: {
		closeDialog() {
			this.$router.replace({ path: '/' });
		}
	},
	mounted() {
		const id = this.$route.params.id;
		this.$store.dispatch('getRecipe', id);
	}
};
</script>

<style lang="scss" scoped>
.md-dialog {
	max-width: 600px;
	width: 100%;
	max-height: 95%;
	.md-dialog-title {
		margin-bottom: 0;
	}
}
</style>
