<template>
	<div class="filter-recipes">
		<md-toolbar class="md-transparent" md-elevation="0">
			<span class="md-title">Filters</span>
		</md-toolbar>
		<md-checkbox
			@change="onChange(filters)"
			v-model="filters.vegetarian"
			class="md-primary"
			>Vegetarian</md-checkbox
		>
		<md-checkbox
			@change="onChange(filters)"
			v-model="filters.non_vegetarian"
			class="md-primary"
			>Non Vegetarian</md-checkbox
		>
		<md-checkbox
			@change="onChange(filters)"
			v-model="filters.people1"
			class="md-primary"
			>1 Person</md-checkbox
		>
		<md-checkbox
			@change="onChange(filters)"
			v-model="filters.people2"
			class="md-primary"
			>2 People</md-checkbox
		>
		<md-checkbox
			@change="onChange(filters)"
			v-model="filters.people4"
			class="md-primary"
			>4 People</md-checkbox
		>
		<md-checkbox
			@change="onChange(filters)"
			v-model="filters.people6"
			class="md-primary"
			>6 People</md-checkbox
		>
		<md-button class="md-dense md-raised md-accent" @click="resetFilters"
			>Reset</md-button
		>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: 'FilterRecipes',
	computed: {
		...mapGetters(['filters'])
	},
	methods: {
		onChange(filters) {
			this.$store.dispatch('updateFilters', filters);
		},
		resetFilters() {
			this.$store.dispatch('resetFilters');
		}
	}
};
</script>

<style lang="scss" scoped>
.filter-recipes {
	padding: 16px;
}
</style>
