<template>
	<form novalidate class="md-layout form-recipe" @submit.prevent="">
		<md-card class="md-layout-item md-size-100">
			<md-card-content>
				<div class="form-wrapper">
					<!-- Name field -->
					<div class="md-layout md-gutter">
						<div class="md-layout-item">
							<md-field :class="getValidationClass('name')">
								<md-icon>create</md-icon>
								<label for="name">Name</label>
								<md-input
									name="name"
									id="name"
									v-model="form.name"
									:disabled="sending"
									md-counter="100"
								/>
								<span class="md-error" v-if="!$v.form.name.required"
									>The name is required</span
								>
								<span class="md-error" v-else-if="!$v.form.name.maxLength"
									>Invalid name</span
								>
							</md-field>
						</div>
					</div>

					<!-- Image filed -->
					<div class="md-layout md-gutter">
						<div class="md-layout-item">
							<md-field>
								<label for="image">Image</label>
								<md-file
									name="image"
									id="image"
									v-model="form.image"
									:disabled="sending"
									accept=".jpg, .jpeg, .png"
									@md-change="toBase64($event)"
								/>
								<span class="md-error" v-if="file && fileSize > 10000000"
									>The image size is too big. Max 10MB</span
								>
							</md-field>
						</div>
					</div>

					<!-- Vegetarian filed -->
					<div class="md-layout md-gutter">
						<div class="md-layout-item">
							<md-switch
								name="vegetarian"
								id="vegetarian"
								v-model="form.vegetarian"
								:disabled="sending"
								>Vegetarian</md-switch
							>
						</div>
					</div>

					<!-- People filed -->
					<div class="md-layout md-gutter">
						<div class="md-layout-item">
							<md-field>
								<md-icon class="people-icon">people</md-icon>
								<label for="people">People</label>
								<md-select
									v-model="form.people"
									name="people"
									id="people"
									:disabled="sending"
								>
									<md-option value="1">1</md-option>
									<md-option value="2">2</md-option>
									<md-option value="4">4</md-option>
									<md-option value="6">6</md-option>
								</md-select>
							</md-field>
						</div>
					</div>

					<!-- Ingredients filed -->
					<div class="md-layout md-gutter">
						<div class="md-layout-item">
							<md-chips
								v-model="form.ingredients"
								name="ingredients"
								id="ingredients"
								md-placeholder="tomatoes 100g"
								:disabled="sending"
							>
								<div class="md-helper-text">
									Press <strong>Enter</strong> to add the ingredient.
								</div>
							</md-chips>
						</div>
					</div>
					<!-- Instructions field -->
					<div class="md-layout md-gutter">
						<div class="md-layout-item">
							<md-field :class="getValidationClass('instructions')">
								<label for="instructions">Instructions</label>
								<md-textarea
									name="instructions"
									id="instructions"
									v-model="form.instructions"
									:disabled="sending"
									md-counter="1000"
								/>
								<span class="md-error" v-if="!$v.form.instructions.required"
									>The instructions field is required</span
								>
								<span
									class="md-error"
									v-else-if="!$v.form.instructions.maxlength"
									>Invalid instructions</span
								>
							</md-field>
						</div>
					</div>
				</div>
			</md-card-content>

			<md-progress-bar md-mode="indeterminate" v-if="sending" />

			<md-card-actions>
				<md-button type="button" class="md-primary" @click="close()"
					>Cancel</md-button
				>
				<md-button
					type="button"
					class="md-primary"
					:disabled="sending"
					@click="onSubmit()"
					>{{ edit ? 'Update' : 'Create' }}</md-button
				>
			</md-card-actions>
		</md-card>
	</form>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, minLength, maxLength } from 'vuelidate/lib/validators';

export default {
	name: 'FormRecipe',
	mixins: [validationMixin],
	data() {
		return {
			sending: false,
			file: null,
			fileSize: null
		};
	},
	props: {
		form: {
			type: Object,
			default: () => {
				return {
					id: null,
					name: null,
					image: null,
					vegetarian: false,
					people: 4,
					ingredients: [],
					instructions: null
				};
			}
		},
		edit: {
			type: Boolean,
			default: false
		}
	},
	validations: {
		form: {
			name: {
				required,
				maxLength: maxLength(100)
			},
			instructions: {
				required,
				maxLength: maxLength(1000)
			}
		}
	},
	methods: {
		getValidationClass(fieldName) {
			const field = this.$v.form[fieldName];

			if (field) {
				return {
					'md-invalid': field.$invalid && field.$dirty
				};
			}
		},
		onSubmit() {
			this.$v.$touch();
			if (!this.$v.$invalid) {
				if (this.file) {
					this.form.image = this.file;
				}
				if (this.edit) {
					this.form.id = this.form._id;
					this.$store.dispatch('editRecipe', this.form);
				} else {
					this.$store.dispatch('createRecipe', this.form);
				}
				this.close();
			}
		},
		close() {
			this.$emit('onClose');
		},
		toBase64(file) {
			new Promise((resolve, reject) => {
				const reader = new FileReader();
				try {
					reader.readAsDataURL(file[0]);
					this.fileSize = file[0].size;
				} catch (e) {}
				reader.onload = () => resolve(reader.result);
				reader.onerror = error => reject(error);
			}).then(fileB64 => {
				this.file = fileB64;
			});
		}
	}
};
</script>

<style lang="scss" scoped>
.form-recipe {
	height: 100%;
}

@media screen and (min-width: 600px) {
	.form-wrapper {
		width: 100%;
		box-sizing: border-box;
		padding: 0 16px;
	}
}
.md-select {
	margin-left: 24px;
}
.md-error {
	margin-left: 36px;
}
.md-field {
	margin-bottom: 8px;
}
.md-field.md-chips {
	margin-bottom: 32px;
}
form {
	overflow: auto;
}
</style>
