<template>
	<div class="md-layout recipe-grid">
		<div
			class="md-layout-item md-size-33 md-medium-size-33 md-small-size-50 md-xsmall-size-100"
			v-for="recipe in recipes"
			:key="recipe._id"
		>
			<router-link :to="`/recipe/${recipe._id}`">
				<card
					:recipeData="recipe"
					@onDelete="handleDelete"
					@onEdit="handleEdit"
				></card>
			</router-link>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';
import Card from '@/components/Card';
import DeleteDialog from '@/components/DeleteDialog';
import Vue from 'vue';

export default {
	name: 'Grid',
	components: {
		Card
	},
	props: {},
	computed: {
		...mapGetters(['recipes'])
	},
	methods: {
		handleEdit(id) {
			this.$router.push(`/edit/${id}`);
		},
		handleDelete(id) {
			const ComponentClass = Vue.extend(DeleteDialog);
			const deleteDialogComponent = new ComponentClass({
				propsData: { id, store: this.$store }
			});
			deleteDialogComponent.$mount();
			this.$el.appendChild(deleteDialogComponent.$el);
		}
	}
};
</script>

<style lang="scss" scoped>
.recipe-grid {
	max-width: 1280px;
	margin: 16px auto;
}
</style>
