<template>
	<div class="header-container">
		<md-toolbar class="md-accent" md-elevation="1">
			<div class="md-toolbar-row header-wrapper">
				<div class="md-toolbar-section-start">
					<md-button class="md-icon-button" @click="showNavigation = true">
						<md-icon>filter_list</md-icon>
					</md-button>
				</div>
				<md-icon>fastfood</md-icon>
				<h3 class="md-title" style="flex: 1">Postibite</h3>
				<md-button class="md-icon-button" @click="handleCreate">
					<md-icon>add</md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-drawer :md-active.sync="showNavigation" md-swipeable>
			<FilterRecipes />
		</md-drawer>
	</div>
</template>

<script>
import FilterRecipes from '@/components/FilterRecipes.vue';
export default {
	name: 'Header',
	components: {
		FilterRecipes
	},
	methods: {
		handleCreate() {
			this.$router.push('/create');
		}
	},
	data() {
		return {
			showNavigation: false
		};
	}
};
</script>

<style lang="scss" scoped>
.header-wrapper {
	max-width: 1280px;
	margin: 0 auto;
}
</style>
