<template>
	<div id="app">
		<Header />
		<router-view />
	</div>
</template>

<script>
import Grid from '@/components/Grid.vue';
import Header from '@/components/Header.vue';

export default {
	name: 'App',
	components: {
		Header
	}
};
</script>

<style lang="scss"></style>
